<div class="container">
<h4>Dashboard for {{data.name}}</h4>
<table class="pos-order-table">
    <thead>
        <td>Customer Name</td>
        <td>Menu Items</td>
        <td>Pick Up Time</td>
        <td>Time Remaining</td>
    </thead>
    <tr ng-repeat="(orderNum, order) in orders" ng-class="{'past-due': pastDue(order.pickupTime)}">
        <td>{{order.customerName}}</td>
        <td>{{order.menuItems}}</td>
        <td>{{getFormattedEndTime(order.pickupTime)}}</td>
        <td><timer end-time="getCountDownEndTime(order.pickupTime)" max-time-unit="'hour'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer></td>
    </tr>
<table>

</div>