<!--
<div class="container ">
    <h1>Continue as a guest</h1>
    <form ng-disabled>
        <div class="form-group" ng-class="{'has-error' : error}">
            <label for="nameInput">Name</label>
            <input ng-model="customerName" type="name" class="form-control" id="nameInput" placeholder="Jane Doe">
        </div>
        <button ng-click="continue()" class="btn btn-primary">Continue</button>
    </form>
</div>
-->

<button class='btn btn-primary' ng-click="authenticate('facebook')">Sign in with Facebook</button>