<div class="nav">
    <div class="container available">
        <h4>Available Dashboards</h4>
        <ul class="available-restaurant-list">
            <li>
                <a href="#/pos/r1">
                Chicken Run
            </a>
            </li>
            <li>
                <a href="#pos/r2">
                Burger Queen
            </a>
            </li>
            <li>
                <a href="#/pos/r3">
                The Sub Station
            </a>
            </li>
            <li>
                <a href="#/pos/r4">
                Pizza House
            </a>
            </li>
        </ul>
    </div>
</div>
